<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Charlzk Movies Searcher</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <div class="main">
        <div class="header">
            <h3>Charlzk Movies Searcher</h3>
            <div class="searchBar">
                <form method="get" action="/search">
                    <input name="name" type="text" placeholder="Search">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="listContainer">
            <div class="semiHeader">
                <h3>Top Movies</h3>
            </div>
            <div class="list">
                <% for (var i = 0; i < results.length; i++) { %>
                    <% try { %>
                        <% if (results[i]["thumbnail"].slice(0, 5) == "https") { %>
                            <div class="item">
                                <img src='<%- results[i]["thumbnail"] %>'>
                                <div class="info">
                                    <p class="title"><%- results[i]["title"] %></p>
                                    <p class="description"><%-%></p>
                                    <p class="type"><%- results[i]["q"] %></p>
                                    <p>Rank: <span class="rank"><%- results[i]["rank"] %></span></p>
                                    <p>Year: <span class="year"><%- results[i]["year"] %></span></p>
                                </div>
                            </div>
                        <% } %>
                    <% } catch (err) { %>
                        <% continue %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <script src='main.js'></script>
</body>
</html>