<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Charlzk Movies, TV Shows & Video Games Searcher</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="x-image/icon" href="./movie.ico">
    <link rel='stylesheet' type='text/css' media='screen' href='global.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <div class="main">
        <div class="background"></div>
        <div class="header">
            <h3>Charlzk <span>Movies, TV Shows & Video Games Searcher</span></h3>
            <div class="searchBar">
                <form method="get" action="/search">
                    <input name="name" type="text" placeholder="Search">
                    <input type="submit" value="Search" disabled>
                </form>
                <button onclick='window.location.href = "/";'>Home</button>
            </div>
        </div>
        <div class="listContainer">
            <div class="semiHeader">
                <h3>Top 100 Movies</h3>
            </div>
            <div class="list">
                <% for (var i = 0; i < results.length; i++) { %>
                    <% try { %>
                        <% if (results[i]["thumbnail"].slice(0, 5) == "https") { %>
                            <div class="item">
                                <img src='<%- results[i]["thumbnail"] %>'>
                                <div class="info">
                                    <p class="title"><%- results[i]["title"] %></p>
                                    <p><%- results[i]["genre"] %> <span class="year"><%- results[i]["year"] %></span></p>
                                    <p>Directed by <%- results[i]["director"] %></p>
                                    <p class="description"><%- results[i]["description"] %></p>
                                    <p>Rank: <span class="rank"><%- results[i]["rank"] %></span></p>
                                    <p>Rating: <span class="rank"><%- results[i]["rating"] %></span></p>
                                    <p><a style="text-decoration: none;" href='<%- results[i]["trailer"] %>'>Watch Trailer</a></p>
                                </div>
                            </div>
                        <% } %>
                    <% } catch (err) { %>
                        <% continue %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <script src="./global.js"></script>
</body>
</html>